<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>无标题文档</title>
  <style type="text/css">
  #main {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 300px;
    height: 28px;
  }
  
  #main li {
    float: left;
    background: #ccc;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .active {}
  
  .default {}
  </style>
  <script type="text/javascript">
  window.onload = function() {
    var oul = document.getElementById("main");
    var oli = oul.getElementsByTagName("li");

    for (var i = 0; i < oli.length; i++) {
      oli[i].onmouseover = function() {
        this.style.backgroundColor = "#ffe000";
        for (var x = 0; x < this.value; x++) {
          oli[x].style.backgroundColor = "#ffe000";
        } // 把鼠标滑过元素之前的全部变色
        for (var y = 4; y > this.value; y--) {
          oli[y].style.backgroundColor = "#ccc";
        } // 把鼠标滑过元素之后的全部恢复
      }
    }

    for (var i = 0; i < oli.length; i++) {
      oli[i].onclick = function() {
        var x= this.value+1;
        alert("你打了"+x+"分");
      }
    }

  }
  </script>
</head>

<body>
  <ul id="main">
    <li class="default" value="0"></li>
    <li class="default" value="1"></li>
    <li class="default" value="2"></li>
    <li class="default" value="3"></li>
    <li class="default" value="4"></li>
  </ul>
  <div id="div"></div>
</body>

</html>
