.box{
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
  background-color: #ccc;
}

.box .circle-l{
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background-color: #fc0;
  border-radius: 50%;
  overflow: hidden;
  clip: rect(50px,auto,auto,50px);
}

.box .circle-r{
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background-color: #fc0;
  border-radius: 50%;
  overflow: hidden;
  clip: rect(auto,50px,50px,auto);
}