.container{
  width: 1250px;
} 

/*强制重置*/

header{
  height: 50px;
  background-color: #000;
}

header h1{
  color: #fff;
  line-height: 50px;
}

nav li{
  float: left;
  margin: 0 10px;
}

nav a{
  line-height: 50px;
  color: #fff;
  font-size: 1.2em;
}

nav a:hover{
  color: #ddd;
  transition: all .3s;
  -webkit-transition: all .3s;
}

#main{
  background-color: #eee;
}

#main .b-left{
  margin-right: 460px;
}

#main article{
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
}

#main article:hover{
  transition: all .3s;
  -webkit-transition: all .3s;
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0)
}

#main article p{
  line-height: 1.8em;
}

#main article figure{
  float: left;
  width: 100px;
  margin: 20px 25px;
}

#main article figure figcaption{
  text-align: center;
}

#main article figure img{
  width: 100px;
  height: 100px;
}

#main article ol{
  margin: 20px;
}

#main table{
  width: 100%;
}

#main table th,td{
  padding: 3px 0;
}

#main table th{
  background-color: #333333;
  color: #fff;
}

#main aside{
  width: 400px;
  float: right;
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
}

#main aside:hover{
  transition: all .3s;
  -webkit-transition: all .3s;
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0)
}

#main aside h2{
  text-align: center;
}

#main aside .form-group{
  margin: 10px 0;
}

#main aside .form-group label{
  width: 30%;
  margin-right: 10px;
  float: left;
  text-align: right;
}

#main aside .sub{
  width: 100%;
  height: 40px;
  background-color: #3355dd;
  color: #fff;
  border-radius: 5px;
  border-color: #3355dd;
}

#main aside .form-group textarea{
  width: 60%;
}

footer{
  height: 40px;
  background-color: #555;
  color: #fff;
}

footer p{
  text-align: center;
  line-height: 40px;
}